@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
   }

   html {
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-padding-top: 9rem;
     scroll-behavior: smooth;
   }

   html::-webkit-scrollbar{
     width:0.8rem;
   }
      html::-webkit-scrollbar-track{
     background: transparent;
   }

   html::-webkit-scrollbar-thumb{
     background: white;
     border-radius: 5rem;
   }
   body{
     background: #010103;
     overflow-x:hidden;
   }
  
   .header{
    background:#010103;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 3px 7%;
    border-bottom: 0.2rem solid #ffc107;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;

   }

   .header .logo img{
    max-width:75px;

   }
   .header .navbar a{
 
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #ffff;
   }

   .header .navbar a:hover {
    color:#ffc107;
    border-bottom: 0.1rem solid #ffc107;
    padding-bottom: 0.5rem;

   }
   .header .icons div{
   
    color: #ffff;
    cursor: pointer ;
    font-size: 2.3rem;
   }
   .header .icons div:hover{
    color:#ffc107;
   }

   #menu-btn {
    display: none;
   }

   .header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }
  .header .search-form.active{
    transform: scaleY(1);
  }

  .header.search-form input{
    height: 100%;
    width: 100%;
   font-size: 1.6rem;
   color:black;
   padding: 1rem;
   text-transform: none;

  }

  
  .header .search-form lable{
    font-size: 2.2rem;
    margin-right: 1.5rem; 
    color:black;
    cursor: pointer;

  }
  .header .search-form lable:hover{
    color:#ffc107;

    }

   .header .cart-items-container {
    position:absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width:35rem;
    background: white;
    padding: 0 1.5rem;


   }
   .header .cart-items-container.active{
    right: 0;
   }
   .header .cart-items-container .cart-item{
    position:relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
   }

   .header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem;
    right:2rem;
    font-size: 2rem;
    cursor: pointer;
    color:#13131a;
   }
   .header .cart-items-container .cart-item .fa-times:hover{
    color: #ffc107;
   }
   .header .cart-items-container .cart-item img{
    height: 7rem;
   }            
   .header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: #13131a;
    padding-bottom: 0.5rem;
   }
   .header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: #ffc107;
   }
   .header .cart-items-container .btn{
    width: 100%;
    text-align: center;
   }
   .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #ffc107;
    cursor: pointer;
  }
  
  .btn:hover {
    letter-spacing: 0.2rem;
  }
   @media (max-width:768px){
    #menu-btn{
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      background: #000;
      width: 30rem;
      height: calc(100vh - 9.5rem);
    }
  
    .header .navbar.active {
      right: 0;
    }
  
    .header .navbar a {
      color: #fff;
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  

  }
  section {
    padding: 2rem 7%;
  }
  .heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
  }
  
  .heading span {
    color: #ffc107;
    text-transform: uppercase;
  }
  /* /////////////////////////////////////////////////////////////// */
  .home {
  min-height: 100vh;
  display: flex;
  align-items:center;
  background: linear-gradient(90deg, rgb(0 0 0 / 90%), rgb(68 68 68 / 35%)),
    url(../IMAGES/home-img) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width:60rem;
}

.home span {
  color:#ffc107;
  text-transform:uppercase;
}

.home .content h3 {
  font-size:6rem;
  text-transform:uppercase;
  color: #fff;
}

.home .content p {
  font-size: 2rem;
  font-weight:lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}
/* /////////////////////////////////////////////// */
.about .row{
  display :flex;
  align-items: center;
  background: #13131a;
  flex-wrap: wrap;
}
.about .row .image{
  flex: 1 1 45rem;
}

.about .row .image img{
  width:100% ;

}
.about .row .content{
  flex:1 1 45rem; 
  padding:2rem;
}
.about .row .content h3{
 font-size: 3rem;
 color: #fff;
}
.about .row .content p{
  font-size:1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;

}
